<div class="container">
  <form method="POST" class="m-3">
    <div class="form-group">
      <div style="display: inline-flex;">
        <label for="inputDate" class="mx-3">С</label>
        <input type="date" class="form-control">
        <label for="inputDate" class="mx-3">По</label>
        <input type="date" class="form-control">
        <label for="inputDate" class="mx-3">Количество учеников от:</label>
        <input type="text" class="form-control">
        <label for="inputDate" class="mx-3">до: </label>
        <input type="text" class="form-control">
      </div>
      <div style="display: inline-flex;">
        <label for="inlineFormInputName2" class="mx-3">ID учителя</label>
        <input type="text" class="form-control" id="inlineFormInputName2" placeholder="id,...">
        <label for="inputDate" class="mx-3">Номер страницы </label>
        <input type="text" class="form-control">
        <label for="inputDate" class="mx-3">Количество страниц: </label>
        <input type="text" class="form-control">
        <label class="form-check-label mx-3" for="inlineFormCheck">
          проведено?
        </label>
        <input class="form-check-input" type="checkbox" id="inlineFormCheck">
      </div>
    </div>
  </form>
</div>